absl-py==2.1.0
altgraph @ file:///AppleInternal/Library/BuildRoots/860631e9-c1c5-11ee-98ee-b6ef2fd8d87b/Library/Caches/com.apple.xbs/Sources/python3/altgraph-0.17.2-py2.py3-none-any.whl
annotated-types==0.7.0
anyio==4.9.0
asttokens==2.4.1
astunparse==1.6.3
bcrypt==4.3.0
blinker==1.9.0
bqplot==0.12.43
branca==0.8.0
cachetools==5.5.0
certifi==2024.8.30
cftime==1.6.4
charset-normalizer==3.3.2
click==8.1.7
colour==0.1.5
comm==0.2.2
contourpy==1.3.0
cramjam==2.8.4
cycler==0.12.1
decorator==5.1.1
earthengine-api==1.1.1
eerepr==0.0.4
exceptiongroup==1.2.2
executing==2.1.0
fastapi==0.115.11
fastparquet==2024.5.0
Flask==3.1.0
Flask-Bcrypt==1.0.1
flask-cors==5.0.1
Flask-JWT-Extended==4.7.1
Flask-SQLAlchemy==3.1.1
flatbuffers==24.3.25
folium==0.17.0
fonttools==4.54.1
fsspec==2024.9.0
future @ file:///AppleInternal/Library/BuildRoots/860631e9-c1c5-11ee-98ee-b6ef2fd8d87b/Library/Caches/com.apple.xbs/Sources/python3/future-0.18.2-py3-none-any.whl
gast==0.6.0
geemap==0.34.5
geocoder==1.38.1
google-api-core==2.20.0
google-api-python-client==2.147.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
greenlet==3.1.1
grpcio==1.66.1
h11==0.14.0
h5netcdf==1.3.0
h5py==3.11.0
httplib2==0.22.0
idna==3.9
importlib_metadata==8.5.0
importlib_resources==6.4.5
ipyevents==2.0.2
ipyfilechooser==0.6.0
ipyleaflet==0.19.2
ipython==8.18.1
ipytree==0.2.2
ipywidgets==8.1.5
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
jupyter-leaflet==0.19.2
jupyterlab_widgets==3.0.13
keras==3.5.0
kiwisolver==1.4.7
libclang==18.1.1
macholib @ file:///AppleInternal/Library/BuildRoots/860631e9-c1c5-11ee-98ee-b6ef2fd8d87b/Library/Caches/com.apple.xbs/Sources/python3/macholib-1.15.2-py2.py3-none-any.whl
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
ml-dtypes==0.3.2
namex==0.0.8
netCDF4==1.7.1.post2
numpy==1.26.4
opt-einsum==3.3.0
optree==0.12.1
packaging==24.1
pandas==2.2.3
parso==0.8.4
pexpect==4.9.0
pillow==10.4.0
plotly==5.24.1
prompt_toolkit==3.0.48
proto-plus==1.24.0
protobuf==4.25.5
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pydantic==2.10.6
pydantic_core==2.27.2
Pygments==2.18.0
PyJWT==2.10.1
pyparsing==3.1.4
pyperclip==1.9.0
pyshp==2.3.1
python-box==7.2.0
python-dateutil==2.9.0.post0
pytz==2024.2
ratelim==0.1.6
requests==2.32.3
reverse-geocoder==1.5.1
rich==13.8.1
rsa==4.9
scipy==1.13.1
scooby==0.10.0
six @ file:///AppleInternal/Library/BuildRoots/860631e9-c1c5-11ee-98ee-b6ef2fd8d87b/Library/Caches/com.apple.xbs/Sources/python3/six-1.15.0-py2.py3-none-any.whl
sniffio==1.3.1
SQLAlchemy==2.0.39
stack-data==0.6.3
starlette==0.46.1
tenacity==9.0.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.2
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.4.0
traitlets==5.14.3
traittypes==0.2.1
typing_extensions==4.12.2
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.2.3
uvicorn==0.34.0
vboxapi==1.0
wcwidth==0.2.13
Werkzeug==3.1.3
widgetsnbextension==4.0.13
wrapt==1.16.0
xarray==2024.7.0
xyzservices==2024.9.0
zipp==3.20.2
