.hero {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 60vh;
    position: relative;
    overflow: hidden;
    background-image: url('../heroImageMock.webp'); 
    background-size: cover;
    background-position: center;
}

/* Left Side - Quarter Circle */
.hero-left {
    position: absolute; 
    top: 0;
    left: 0;
    width: 40%; /* Set width to control how much space the circle will take */
    height: 100%;
    padding: 60px;
    z-index: 2;
}

/* Quarter Circle Shape (Top-left corner) */
.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(128, 0, 0);
    border-top-right-radius: 65%;
    z-index: 1;
}

/* Text Content */
.hero-content {
    position: relative;
    z-index: 2;
    text-align: left;
    max-width: 550px;
    color: #faf9f1;
    margin-top: 200px;
    padding-left: 60px;
}

.hero-content h1 {
    font-size: 8em;
    margin-bottom: 0px;
    color: #faf9f1;
}
.hero-content h2 {
    font-size: 1.5em;
    margin-bottom: 0px;
    color: #faf9f1;
}
.hero-content p {
    font-size: 1.1em;
    margin-bottom: 20px;
    opacity: 0.9;
}

.tool-button {
    font-size: 1.2em;
    padding: 12px 30px;
    background-color: #faf9f1;
    color: rgb(128, 0, 0);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.tool-button:hover {
    background-color: #fff0f0;
}
