.login-container {
  display: flex;
  height: 100vh;
  background-color: #faf9f1;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 300px;
}

.login-form input {
  margin: 10px 0;
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-container input {
  width: 100%;
  padding-right: 40px;
}

.password-container span {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: rgb(128, 0, 0);
}

.login-form button {
  background-color: #faf9f1;
  color: rgb(128, 0, 0);
  margin-top: 10px;
  padding: 12px;
  font-size: 1.1rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
}

.login-form button:hover {
  background-color: #d9534f;
  color: white;
}

.signup-text {
  margin-top: 10px;
  font-size: 14px;
}

.signup-text span {
  color: #faf9f1;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}

.prognosis-logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 120px;
}

.back-button {
  position: absolute;
  left: 30px;
  bottom: 40px;
  padding: 10px 20px;
  font-size: 13px;
  background-color: #faf9f1; 
  color: rgb(128, 0, 0);
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.back-button:hover {
  background-color: beige;
}
