.pricing {
    padding: 80px 20px;
    background-color: #faf9f1;
    text-align: center;
  }
  
  .pricing h2 {
    font-size: 36px;
    margin-bottom: 30px;
    color: #9c1b1b;
  }
  
  .hero-text p {
    font-size: 1.5em;
    color: #555;
    margin-bottom: 40px;
  }
  
  .pricing-plans {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }
  
  .plan {
    background: #faf9f1;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 280px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .plan:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  }
  
  .plan h3 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #9c1b1b;
  }
  
  .plan p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #555;
  }
  
  .plan ul {
    font-size: 16px;
    color: #555;
    padding-left: 20px;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .plan ul li {
    margin-bottom: 10px;
  }
  
  .plan button {
    background-color: rgb(128, 0, 0);
    color: #faf9f1;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .plan button:hover {
    background-color: rgb(154, 0, 0);
  }
  
  .why-choose-us {
    margin-top: 50px;
    text-align: center;
  }
  
  .why-choose-us h3 {
    font-size: 32px;
    color: #9c1b1b;
    margin-bottom: 40px;
  }
  
  .reasons {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .reason {
    background-color: #faf9f1;
    padding: 20px;
    width: 240px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .reason h4 {
    font-size: 24px;
    color: #9c1b1b;
  }
  
  .reason p {
    font-size: 16px;
    color: #555;
  }
  
  .faq {
    margin-top: 60px;
  }
  
  .faq h3 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #9c1b1b;
  }
  
  .faq ul {
    font-size: 16px;
    color: #555;
    text-align: left;
    padding-left: 20px;
  }
  
  .faq ul li {
    margin-bottom: 10px;
  }
  
  @media (max-width: 768px) {
    .pricing {
      padding: 40px 10px;
    }
  
    .plan {
      width: 250px;
    }
  
    .credits-system p,
    .credits-system ul li,
    .plan ul li {
      font-size: 16px;
    }
  
    .reason {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  