.resources {
    padding: 80px 20px;
    text-align: center;
    background-color: #faf9f1;
}

.resources h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.resources ul {
    list-style-type: none;
    padding: 0;
}

.resources li {
    font-size: 18px;
    margin: 15px 0;
}

.resources a {
    color: rgb(128, 0, 0);
    text-decoration: none;
}

.resources a:hover {
    text-decoration: underline;
}
